
/* =====================Index css================== */

*{
    font-family: montserrat;
}

/* Section */
.section-padding{
    padding: 100px 0;
}


/* Search bar container */
.search-container{
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
}


/* Click search box */
.search-input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* =========================Main CSS====================== */



/*======= Carousel slide======== */

/* Carousel control icon */

.carousel-control-prev-icon{
    font-size: 100px;
}

.carousel-control-next-icon{
    font-size: 100px;
}

/* Carousel indicator */
#carousel-button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

/* Image carousel */
.display-box{
    
}

/* Align the text display */
/* .display-box .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
} */

/* Title of text */
.display-box .text h2{
    color: red;
    font-weight: 700;
    font-size: 2.4rem;
    
}

.display-box .text h5{
    color: #f7f5f4;
    font-weight: 700;
    font-size: 1.4rem;
    
}

.display-box .text p{
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.2rem;
    
}



/* ===============MEDIA SCREEN================ */
@media only screen and (min-width: 768px) and (min-width: 991px) {
    .card{
        margin-bottom: 30px;
    }
    
}

@media only screen and (max-width: 767px){
    .card{
        margin-bottom: 30px;
    }

}
    
