
/* =====================Index css================== */


/* Body */
body, html{
    height: 100%;

}

.search-container{
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

/* Background */
/* .bg{
    background: #fff;
    background-image: url('bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


/* Overlay */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    
  }


/* Search bar (BOX) */



/* Click search box */

.search-input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Card deck */


/* =====================Main=================== */


    