
/* =====================Index css================== */

*{
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar{
    z-index: 1000;
}
/* Video heros */
.mid{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-70%);
}

.hero{
    position: relative;
}


/* Section */
.section-padding{
    padding: 100px 0;
}

/* Search bar container */
.search-container{
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}


/* Click search box */

.search-input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Card service */
.services .card-body i{
    font-size: 50px;
}

.results::-webkit-scrollbar {
    display: none;
}

.explore-button{
    font-weight: 600;
    border-radius: 30px;
}




/* ===============MEDIA SCREEN================ */
@media only screen and (min-width: 768px) and (min-width: 820px) {
    .card{
        margin-bottom: 30px;
    }
    .results::-webkit-scrollbar {
        display: none;
      }

    
}

@media only screen and (max-width: 767px){
    .card{
        margin-bottom: 30px;
    }
    .results::-webkit-scrollbar {
        display: none;
    }

    .mid video{
        width: 100%;
        height: 100%;
    }
    
}
    

    